{% extends "components/base.html" %}

{% block heading %}
Fulvo (Fútbol) Database
{% endblock %}

{% block preamble %}
<div class="container mt-3">
    <h3> Introduction </h3>
    <p>
        Welcome to the <b>Fulvo Database Web UI</b>. 
        This is a <b>web application</b> that allows users to interact with an <b>Oracle database</b> with populated (fake) data.
        The database consists of <b>seven</b> different tables: Users, Players, Referees, Teams, House_League, Match_Stats, and Match_Referee.
        Each table has its own unique attributes and relationships with other tables.
        The goal of this assignment is for users to be able to perform <b>CRUD operations</b> on each table, as well as perform specific <b>SQL queries</b> on the database with user functionality
        <b>Before getting started</b>, this oracle database can only be accessed with a specific <b>VPN</b> connection by Toronto Metropolitan University.
        If you want to see this project in action, but don't have access to the VPN, please check the <a href="https://github.com/andrearcaina/fulvo/" target="_blank"><b>GitHub</b></a> 
        README for a video demonstration, as that is the only way (that I know of) to be able to utilize this application.
        Now let us get into the details of this application.
    </p> 
    
    <h3> Application Details </h3>
    <p>
        The database was created using <b>PL/SQL</b> (Oracle SQL), with separate SQL scripts for creating, populating, and querying. 
        We executed these scripts with <b>Oracle SQL*Plus</b> and <b>Oracle SQL Developer</b>.
        As for the web interface, we decided to use <b>Python</b> and <b>Flask</b> as our backend framework, with <b>SQLAlchemy</b> as our ORM (Object Relational Mapper).
        We also used <b>Jinja2</b> as our a templating engine (as it comes with Flask), 
        and <b>jQuery</b> is utilized in the frontend for interacting with the backend and adding functionality.
        As for our styling, we combined custom CSS and <b>Bootstrap</b> to create a clean and simple design.
    </p>
    
    <h3> User Requirements </h3>
    <ol>
        <li>Perform certain SQL queries (for example, select all that are skill level advanced)</li>
        <li>Create, read, update, and delete records for each table</li>
        <li>Search for specific records for each table</li>
    </ol>
    <p>Click on each item on the navbar to be able to visualize these requirements.</p>

    <h3> Drop, Create, and Certain Queries </h3>
    <p>
        To drop and create the tables, as well as populate them with data, we used the <b>create.sql</b> and <b>populate.sql</b> scripts.
        We also created a <b>queries.sql</b> script that contains certain queries that can be executed on the database.
        You can click on each button below to execute these scripts, and see the results below.
    </p>

</div>
{% endblock %}

{% block content %}
<div class="container text-center">
    <form>
        <button id="drop" class="btn btn-primary" type="submit">Drop Tables</button>
        <button id="create" class="btn btn-primary" type="submit">Create Tables</button>
        <button id="populate" class="btn btn-primary" type="submit">Populate Tables</button>
        <button id="queries" class="btn btn-primary" type="submit">Execute Queries</button>
    </form>
    
    <div id="result" class="m-2"></div>
</div>
{% endblock %}